{#
/**
 * @file
 * View template to display a list as a carousel.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - rows: The rendered rows.
 *
 * @see template_preprocess_jcarousel_view()
 *
 * @ingroup themeable
 */
#}
{#{{ dump(options) }}#}
<div{{ wrapper_attributes }}>
  {% if options.navigation == 'before' %}
    <a{{ attributes_previous }}  href="#"></a>
    <a{{ attributes_next }} href="#"></a>
  {% endif %}
  <div{{ attributes }}>
    <ul{{ content_attributes }}>
      {% for key,row in items %}
        <li{{ row_attributes[key] }}>
          {{ row }}
        </li>
      {% endfor %}
    </ul>
  </div>
  {% if options.navigation == 'after' %}
    <a{{ attributes_previous }}  href="#"></a>
    <a{{ attributes_next }} href="#"></a>
  {% endif %}
</div>
